$primary-color: #2828ff;
$background-color: #e8e8e8;
$image-background-color: #c1c1c1;

$body-font: "National", sans-serif;
$heading-font: "TiemposText", sans-serif;
$feature-font: "Fugue Regular", sans-serif;

$mobile-width: 375px;
$tablet-width: 768px;
$desktop-width: 1024px;

$margin-width: 8rem;
